params {
    ingroups            = '${projectDir}/species.csv'
    outgroups           = '${projectDir}/outgroups.csv'
    tree                = null
    clades              = '' # List of outgroups (example: 'Diplopoda,Chilopoda,Hexapoda,Crustacea,Chelicerata')
    colors              = '${projectDir}/colors.yaml' # optional

    cafe_ratio_threshold = 100
    cafe_filter_keywords = "${projectDir}/data/cafe_remove_keywords.txt"
    
    outdir    = "${projectDir}/results"
    cache_dir = "${projectDir}/cache/work"
    conda_env = "${projectDir}/envs/orthoexplorer"
}

workDir = params.cache_dir

process {
    cache = true // Cache temporary files to speed up reruns
    executor = 'slurm'
    queue = { task.time > 24.h ? 'long' : 'fast' } "" // Fill the partition name
    clusterOptions = ''
}


includeConfig "${projectDir}/conf/modules.config"