params {
    outgroups           = '/shared/projects/metainvert/orthoexplorer/outgroups.csv'
    species             = '/shared/projects/metainvert/orthoexplorer/species.csv'
    groups              = 'Diplopoda,Chilopoda,Hexapoda,Crustacea,Chelicerata'
    colors              = '/shared/projects/metainvert/orthoexplorer/data/colors.yaml'

}

process {
    executor = 'slurm'
    queue = "" // Fill the partition name
    cache = true // Cache temporary files to speed up reruns
    clusterOptions = ''
    queue = { task.time > 24.h ? 'long' : 'fast' }
}

// Load base.config by default for all pipelines
includeConfig "$projectDir/conf/modules.config"